{{define "@logo"}}
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
            <td style="padding: 30px 30px;">
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                        <td align="center">
                            <a href="{{.BaseURL}}">
                                <img src="{{.BaseURL}}{{.LogoData.Path}}" width="200" height="106" alt="{{.LogoData.Alt}}" align="center" style="display: block;">
                            </a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
{{end}}
