{{define "@two-column"}}
    <!-- Two Column Section -->
    <table border="0" cellpadding="0" cellspacing="0" align="center" width="100%" style="max-width: 600px;">
        <tr>
            <td style="padding: 0 20px;">
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    {{range .Rows}}
                        <tr>
                            <td align="left" valign="top" width="200" style="padding: 10px 0;">
                                <span style="color: {{theme "colors.text.seconddary"}}; font-family: {{theme "typography.font.family"}}; font-size: {{theme "typography.font.size.base"}};">{{.Label}}:</span>
                                <span style="color: {{theme "colors.text.primary"}}; font-family: {{theme "typography.font.family"}}; font-size: {{theme "typography.font.size.base"}}; font-weight: bold;">{{.Value}}</span>
                            </td>
                        </tr>
                    {{end}}
                </table>
            </td>
        </tr>
    </table>
{{end}}


{{/* A version of the two-column templates that only includes text content. */}}
{{define "@two-column-textonly"}}
    {{range .Rows}}
        {{.Label}}: {{.Value}}
    {{end}}
{{end}}
